.admin-create-form-container {
    width: 50%;
}

.admin-create-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 60%;
}

.create-input-label-span {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}